/*
 Theme Name:   Businessx Child
 Theme URI:    http://www.acosmin.com/theme/businessx/
 Description:  BusinessX Child Theme
 Author:       Acosmin
 Author URI:   http://www.acosmin.com
 Template:     businessx
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         custom-header, grid-layout, right-sidebar, sticky-post, translation-ready, threaded-comments, featured-images, custom-menu, custom-colors, theme-options, footer-widgets, portfolio, blog, news, e-commerce
 Text Domain:  businessx-child
*/

/*
 For more info on child themes access this page: https://codex.wordpress.org/Child_Themes 
 You can add your customizations below 
*/

.grid-wrap.page-heading.heading-full-width.clearfix, .grid-wrap.index-heading.heading-full-width.clearfix {
	padding-top: 0px !important;
}

.page-heading.heading-full-width, .index-heading.heading-full-width {
    padding: 0 0 2.333em; 
}

.ex_wrap {
	margin-left: 20px;
}